<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
                        {{ if .HasChildren }}
            <div class="submenu">
                <li class="dropdown">
                    <a href="{{ .URL | relLangURL }}" class="dropbtn">{{ .Name }}</a>
                    <div class="dropdown-content">
                        
                        {{ range .Children }}
                            <a title="{{ .Name }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                            {{ end }}

                    </div>
                </li>
            </div>

          {{ end }}

            {{ if not .HasChildren }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>

          {{ end }}





        {{- end }}

        {{- if  .Site.Params.EnableGlobalLanguageMenu }}
        <div class="submenu">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">{{ .Language }}</a>
                <div class="dropdown-content">
                    {{ if .Site.IsMultiLingual }}
                        {{ range $.Translations }}
                            <a title="{{ .Language }}" href="{{ .Permalink }}">{{ .Language }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </li>
        </div>
        {{- end }}
    </ul>
</nav>
